body {
    background-color: #708090;
}
h1 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    color: bisque;
    background-color: #8FBC8F;
}

p {
    padding: 5px;
    
}

.container {
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}

.item {
    padding: 10px;
    background-color: #8FBC8F;
}
 
